body {
    font-family: 'Open Sans', sans-serif!important;
    color: #838383;
    line-height: 1.7;
    font-size: 17px;
}
.header{
    min-height: 600px;
    width:100%;
    background: #3498db;
}
a {
    color: #838383;
}
a:hover{
    color: #3199dc;
    text-decoration: none;
}

.container-fluid {
   padding: 0px;
}
.row{
    margin:0;
}
/********************************/
/*       Fade Bs-carousel       */
/********************************/
.banner-carousel{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.banner-carousel li {
    width: 14px;
    height: 14px;
}
.banner-carousel .active {
    width: 14px;
    height: 14px;
}
.fade-carousel {
    position: relative;
    height: 600px;
}
.fade-carousel .carousel-inner .item {
    height: 600px;
}
.fade-carousel .banner-carousel > li {
    margin: 0 2px;
    background-color: #f39c12;
    border-color: #f39c12;
    opacity: .7;
}
.fade-carousel .banner-carousel > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 30%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
    -webkit-transform: translate3d(-50%,-50%,0);
    -moz-transform: translate3d(-50%,-50%,0);
    -ms-transform: translate3d(-50%,-50%,0);
    -o-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 78px;
    font-weight: 300;
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: 'Pacifico', cursive!important;
}
.header-left{
    width: 50%; 
}
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
.flaticon-mac:before,
.flaticon-android-logo:before,
.flaticon-windows-logo-silhouette:before{
    margin-left: 0px!important;
    color: #fff;
    box-shadow: none;
    font-size: 20px!important;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {/* padding: 10px 40px; */}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #3498db;
    border-color: #4dabea;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.slides{
    background-image: url(../images/bg.jpg);
    background-repeat: repeat;
}
.header-right{
    width: 50%;
    height: 600px;
    float: right;
}
.slider-img{
}
.animated{
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}
iframe {
    width: 100%;
    margin: 0;
    padding: 0;
}
.wrap{
    width:70%;
    margin: 0 auto;
    display: table;
    margin-top: 30px;
    margin-bottom: 30px;
}
.wrap:nth-child(1){
    /* margin-top: 0; */
}
.intro-text{
    text-align: center;
    color: #838383;
    margin: 50px 0;
}
.h1, h1{
    font-family: 'PT Sans', sans-serif!important;
    font-weight: 600;
    font-size: 2em;
    color: #232323;
    margin-bottom: 18px;
}
.grid {
    text-align: center;
    border-right: 1px solid #ECECEC;
    padding-bottom: 20px;
    padding-top: 20px;
}
.grid a{
    font-size: 1.5em;
    color: #232323;
    font-family: 'PT Sans', sans-serif;
    font-weight: 600;
    padding: 15px 0 15px  0;
    text-decoration: none;
}
.grid p{
    margin: 12px 0;
    font-size: 15px;
}
.grid:nth-child(1), .grid:nth-child(2),
.grid:nth-child(3){
    margin-bottom:20px;
}

.grid:nth-child(3),
.grid:nth-child(6){
    border-right: 0;
}
.icons{
    display: block;
}
.flaticon-computer:before,
.flaticon-target:before,
.flaticon-image:before,
.flaticon-paint:before,
.flaticon-people:before,
.flaticon-settings:before{
    color:#3199dc;
    font-size: 47px!important;
    margin-left: 0!important;
}
.flaticon-twitter-logo-button:before,
.flaticon-facebook-logo-button:before,
.flaticon-pinterest:before,
.flaticon-linkedin-button:before,
.flaticon-youtube-symbol:before{
    font-size: 40px!important;
    margin-left: 0!important;
    padding: 0 10px;
}
.social{
    color: #d4d4d4;
    cursor: pointer;
}
.social:hover{
    color: #3498db;
}
.heroicons{
    padding: 15px;
    background: #232323;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
    opacity: 0.8;
    cursor: pointer;
}
.heroicons:hover{
    opacity: 1;
}
hgroup h3{
    padding-bottom: 20px;
}
.about-section,
.pricing-table-div{
    background: #E7E7E7;
    padding: 50px 0;
}
li{
    list-style-type: none;
}
.flaticon-keyboard-right-arrow-button:before{
    margin-left: 0!important;
    padding-right: 10px;
    font-size: 16px!important;
    line-height: 2;
}
li span{
    color:#232323;
}
.testimonial-div{
    padding: 50px 0;
    text-align: center;
    min-height: 246px;
}
/* Carousel */
.carousel-indicators .active{ background: #3199dc; } .content{ margin-top:20px; } .adjust1{ float:left; width:100%; margin-bottom:0; } .adjust2{ margin:0; } .carousel-indicators li{ border: 2px solid #3199dc; } .carousel-control{ color:#31708f; width:5%; } .carousel-control:hover, .carousel-control:focus{ color:#31708f; } .carousel-control.left, .carousel-control.right { background-image: none; } .media-object{ margin:auto; margin-top:15%; } @media screen and (max-width: 768px) { .media-object{ margin-top:0; } }
.carousel-indicators {
    top: 20px;
    position: relative;
    bottom: auto;
}
.carousel-indicators li {
    width: 14px;
    height: 14px;
}
.carousel-indicators .active {
    width: 14px;
    height: 14px;
}
.testimonial-text{
    text-align: center;
    font-size: 17px;
    color:#848484;
    margin-bottom: 20px;
}
.testimonial-author{
    text-align: center;
    font-size: 17px;
    color:#232323;
}

/* Pricing table */ 
.panel{
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
}
.panel:hover{
    -webkit-transform: scale(1.04) translateY(-5px);
}
.price.panel-blue>.panel-heading {
    color: #fff;
    background-color: #3498db;
    border-color: #4dabea;
    border-bottom: 1px solid #8fcef9;
}   
.price.panel-blue>.panel-body {
    color: #fff;
    background-color: #1d7bb9;
}               
.price.panel-blue>.panel-body .lead{
    text-shadow: 0px 3px 0px rgba(50,50,50, .3);
}   
.price.panel-blue .list-group-item {
    color: #333;
    background-color: rgba(50,50,50, .01);
    font-weight:600;
    text-shadow: 0px 1px 0px rgba(250,250,250, .75);
}
.btn-success {
    color: #fff;
    background-color: #3498db;
    border-color: #4dabea;
    cursor: pointer;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    color: #fff;
    background-color: #1d7bb9;
    border-color: #125784;
}
.footer-link{
    padding: 0 10px;
}
.footer{
    background: #e3e3e3;
    width: 100%;
    display: table;
    padding: 30px 0;
}
/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 1025px){
    .header-left {width: 50%;float: left;text-align: left;margin-left: 10%;}  
    .header-right{width: 40%;}  
}

@media only screen and (max-width: 1024px) and (min-width: 768px){
    .header-left {
    width: 47%;
    }
    .header-right {
        width: 53%;
    }
}
@media screen and (max-width: 768px){
    .grid { border-right:none; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}